# Datasets y descripciones
ObesityDataSet_raw_and_data_sinthetic.csv
ObesityDataSet_raw_and_data_sinthetic.txt

# Practicos, caches, notebooks vacias o de pruebas y metadata de jupyer
*.pdf
__pycache__
Untitled.ipynb
.ipynb_checkpoints/